{erl_opts, [no_debug_info]}.
{deps, [getopt, poolboy]}.

{escript_incl_apps,
 [fmke_populator, getopt, poolboy]}.
{escript_main_app, fmke_populator}.
{escript_name, fmke_populator}.
{escript_emu_args, "%%! +sbtu +A1 -smp enable\n"}.

%% Profiles
{profiles, [
    {test, [
        {erl_opts, [debug_info]},
        {deps, [{meck, "0.8.10"}]}
    ]}]}.
